.logo {
  text-align: center;
  line-height: 32px;
  height: 32px;
  font-weight: bold;
  background: rgb(255, 255, 255);
  margin: 16px;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}
.trigger:hover {
  color: #1890ff;
}